version: "3.9"

services:
  apache:
    image: php8.1
    container_name: web
    volumes:
      - ..:/var/www/html
    ports:
      - 80:80
      - 443:443
    networks:
      - shared
      - backapp

  node:
    build: node
    container_name: node
    user: "node"
    working_dir: /workspaces/laravel/vite
    expose:
      - "3000"
    ports:
      - 3000:3000
    volumes:
      - ..:/workspaces/laravel
    command: "npm run dev"
    networks:
      - backapp

networks:
  backapp:
    driver: bridge
  shared:
    external:
      name: shared
